#[Network Login SideEffect]
**/cookies.txt

#[IDE Config]
**/.idea
**/.vscode

#[NodeJs Dependencies]
**/node_modules

#[Runtime Temperary Files]
**/tmp
configuration

#[Python]
**/__pycache__
.venv/
venv/
.env

#[Build Mid-Files]
**/cmake-build-debug
*.o
*.so
*.a

#[Binary Files]
*.mp4
.DS_Store
*.zip
*.tar.gz
node-daemon/NodeDaemon

#[Build Target]
daemon/build
daemon/opensn-daemon
tools/namespace-generator/generator
daemon/share/static/
opensn_build
opensn_build.tar.gz